* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 2.5em;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(100px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
}

nav a {
  font-size: 13px;
  color: #c5b6af;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

a:hover {
  color: #f18f01;
}

nav h1 {
  font-size: 20px;
  color: #c5b6af;
}

.blocks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#blocks {
  width: 105vw;
  height: 100vh;
  background-color: #131313;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

.block {
  width: 50px;
  height: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.08);
  transition: border-color 1s ease-out;
}

.highlight {
  border-color: #f18f01;
  background: #f18f01;
  transition: all 0.5s ease;
  opacity: 0.75;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2em;
}

.images {
  width: 60%;
  display: flex;
  gap: 10em;
  margin: 10em auto;
}

.col {
  flex: 1;
}

.col:nth-child(2) {
  margin-top: 15em;
}

.img {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin-bottom: 10em;
  border: 1px solid #c5b6af;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
